@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	min-height: 100vh;
	background-image: linear-gradient(rgba(4,9,30,0.9),rgba(4,9,30,0.9)),url('../images/black.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: "Roboto", sans-serif !important;
}
.result-form{
	background-color: rgba(0,0,0,0.5);
	color: white;
	width: 600px !important;
	min-height: 450px !important;
	border-radius: 10px;
	border: 1px solid white;
	padding-left: 1rem !important;
	padding-right: 1rem !important;
	margin-top: 45px !important;
	margin-left: auto;
	margin-right: auto;
}
label{
	font-weight: bold;
}
.logo h3 span{
	color: #ff004f !important;
}
.logo{
	color: white;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 2rem;
}
.submit{
	background-color: white;
	text-align: center;
	border-radius: 10px;
	width: 110px !important;
	height: 30px;
	padding-top: 6px;
	margin-top: 3rem !important;
	margin-left: auto;
	margin-right: auto;
	transition: 0.5s;

	a{
		text-decoration: none;
		color: black;
		text-transform: uppercase;
		font-weight: bold;
	}
}
.submit:hover{
	background-color: #ff004f;

	a{
		color: white;
	}
}
.portal-link{
	margin-top: 1rem;
	color: white;

	a{
		text-decoration: none;
		color: white;
		font-weight: bold;
	}
}
.link1{
	transition: 0.5s;
}
.link1:hover{
		color: #ff004f;
}

@media only screen and (max-width: 768px){
	.result-form{
		top: -1rem;
		position: relative;
	}
	.submit{
		margin-bottom: 2rem !important;
	}
}
